@import '../../styles/variables';

.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.4rem;
  padding: 3rem 4rem;

  color: #FFFFFF;
  font-size: 1.2rem;
}

.links{
  display: flex;
  align-items: center;

  & + div{
    margin-top: 0.25rem;
  }

  svg{
    margin-right: 0.4rem;
    color: $theme;
  }

  a{
    color: #FFFFFF;
    &:hover{
      color: $theme;
      text-decoration: none;
    }
  }
  
}
