@import '../styles/variables';

.container{
  display: flex;
  padding: 3rem 4rem;

  color: $text;
  font-size: 1.2rem;

  

  ul{
    list-style: none; /* Remove default bullets */
    margin: 1rem 0 0 2rem;
    
    
    li + li{ margin-top: 0.4rem; }
    
    li::before {
      // content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
      content: '';
      height: 8px;
      width: 8px;
      margin: 0 0.6rem 0.1rem -1.1rem;
      background: $theme;
      border-radius: 50%;
      display: inline-block; /* Needed to add space between the bullet and the text */
    }
      
  }
}

@media(max-width: 768px){
  .container{
    flex-direction: column;
    padding: 1rem 2rem;
  }
}