.container{
  height: 87.5vh;
}

.description{
  width: 60%;
  padding-left: 10rem;
  display: flex;
  align-items: center;
  
  > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    padding: 2rem;
    background: var(--bgHeader);
    border-radius: 2rem;
  }
}

.singleContactContainer{
  display: flex;
  align-items: flex-end;

  & + div{
    margin-top: 1.8rem;
  }

  svg{
    margin-right: 1rem;
    color: var(--theme);
    font-size: 2rem;
  }

  a{
    color: var(--text)!important;
    font-size: 1.4rem;
    &:hover{
      color: var(--theme)!important;
      text-decoration: none!important;
    }
  }
}

.iconsContainer{
  position: relative;

  width: 35%;
  height: 55vh;
  padding-top: 3rem;

  margin-left: 2rem;
  position: sticky;
  top: 22vh;

  svg{
    position: absolute;
    color: var(--lines);
    font-size: 10rem;
  }

  .book{
    top: calc(50% - 5rem + 47px);
    left: calc(50% - 5rem - 35px);
  }

  .cap{
    width: 4.6rem;
    height: 6rem;
    background: var(--bg);
    position: absolute;
    top: calc(50% - 3rem + 25px);
    left: calc(50% - 2.3rem - 15px);
  }

  .phone{
    top: calc(50% - 5rem - 47px);
    left: calc(50% - 5rem + 35px);
  }
}

@media(max-width: 768px){
  .container{
    height: unset;
    min-height: 87.5vh;
    padding: 2rem;
  }

  .description{
    width: 100%;
    padding-left: 0rem;
    margin: auto 0;
  }

  .iconsContainer{
    display: none;
    visibility: hidden;
  }
}

@media(min-width: 1580px){
  .iconsContainer{
    svg{
      font-size: 14rem;
    }
  
    .book{
      top: calc(50% - 7rem + 70px);
      left: calc(50% - 7rem - 70px);
    }
  
    .cap{
      width: 6rem;
      height: 8rem;
      top: calc(50% - 3rem + 20px);
      left: calc(50% - 4rem - 20px);
    }
  
    .phone{
      top: calc(50% - 7rem - 70px);
      left: calc(50% - 7rem + 70px);
    }
  }
}