.container{
  height: 87.5vh;
}

.description{
  width: 60%;
  padding-left: 10rem;
  display: flex;
  align-items: center;
  
  > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    padding: 2rem;
    background: var(--bgHeader);
    border-radius: 2rem;
  }
}

.singleContactContainer{
  display: flex;
  align-items: flex-end;

  & + div{
    margin-top: 1.8rem;
  }

  svg{
    margin-right: 1rem;
    color: var(--theme);
    font-size: 2rem;
  }

  a{
    color: var(--text)!important;
    font-size: 1.4rem;
    &:hover{
      color: var(--theme)!important;
      text-decoration: none!important;
    }
  }
}

.iconsContainer{
  position: relative;

  width: 35%;
  height: 55vh;
  padding-top: 3rem;

  margin-left: 2rem;
  position: sticky;
  top: 22vh;

  svg{
    position: absolute;
    color: var(--text);
    font-size: 10rem;
  }

  .book{
    top: 45%;
    left: 30%;
  }

  .cap{
    width: 4rem;
    height: 4rem;
    background: var(--bg);
    position: absolute;
    top: 50%;
    left: 47.5%
  }

  .phone{
    top: 20%;
    left: 50%
  }
}

@media(max-width: 768px){
  .container{
    height: unset;
    min-height: 87.5vh;
    padding: 2rem;
  }

  .description{
    width: 100%;
    padding-left: 0rem;
    margin: auto 0;
  }

  .iconsContainer{
    display: none;
    visibility: hidden;
  }
}