.cardContainer{
  box-shadow: 0 0 0.4rem var(--card-box-shadow);
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  padding: 1.6rem;
  line-height: 1.8rem;

  p{
    margin-bottom: 2.4rem;
  }

  p + a, p + p{
    margin-top: -0.4rem!important;
  }
}

.mainInfo{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.6rem;
  
  .info{
    color: var(--theme);
    font-size: 1.8rem;
    font-weight: 500;
  }

  .dateContainer{
    display: flex;
    align-items: center;
    background: var(--bgHeader);
    padding: 0.2rem 0.6rem;
    border-radius: 0.4rem;
  
    span{
      font-size: 1.2rem!important;
      font-weight: 400!important;
      color: var(--text)!important;
    }
  
    svg{
      margin-right: 0.5rem;
      color: var(--text);
    }
  }
}

@media(max-width: 768px){
  .cardContainer{
    padding: 1.4rem;
  }

  .mainInfo .info{
    font-size: 1.4rem;
  }

  .mainInfo .dateContainer{
    background: var(--bgHeader);
    padding: 0.1rem 0.4rem;
    border-radius: 0.4rem;
    margin-top: -0.1rem;
  
    span{
      font-size: 0.8rem!important;
    }
  
    svg{
      margin-right: 0.4rem;
      font-size: 0.8rem;
    }
  }
}