.container {
  width: 100vw;
  max-width: 2000px;
  min-height: 100vh;

  background: var(--bg);
  margin: 0 auto;
}

@media(min-width: 1580px){
  .container{
   display: flex;
   flex-direction: column;
  }
}

