.white{
  color: var(--text);
  width: fit-content;
  transition: all 0.2s;
  font-weight: 600;

  &:hover{
    color: var(--theme);
    text-decoration: none;
  }
}

.orange{
  color: var(--theme);
  width: fit-content;
  transition: all 0.2s;
  
  &:hover{ text-decoration: underline; }
}