@import '../../styles/variables';

.container{
  display: flex;
  padding: 3rem 4rem;

  color: #FFFFFF;
  font-size: 1.2rem;
}

.description{
  width: 60%;
  
  div{
    line-height: 1.8rem;

    a{
      color: $theme;
    }
    a:hover{
      text-decoration: underline;
    }
  }

  div + div{
    margin-top: 2rem;
  }

  ul{
    list-style: none; /* Remove default bullets */
    
    li + li{
      margin-top: 0.4rem;
    }
    
    li::before {
      // content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
      content: '';
      height: 8px;
      width: 8px;
      margin: 0 0.6rem 0.1rem -1.1rem;
      background: $theme;
      border-radius: 50%;
      display: inline-block; /* Needed to add space between the bullet and the text */
    }
      
  }
}

.avatarContainer{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 40%;
  height: 55vh;
  padding-top: 3rem;
  
  margin-left: 2rem;
  position: relative;

  border-radius: 10rem;
  overflow: hidden;
  position: sticky;
  top: 22vh;

  .avatar{
    border-radius: 50%;
  }

  .wave{
    position: absolute;
    transform: scale(2.4);
    top: 35%;
    left: 25%;
  }
  
}

