$bgHeader: #262628;

.headerContainer{
  width: 100vw;
  max-width: 1440px;
  height: 12.5vh;

  background: $bgHeader;
  
  position: sticky;
  top: 0;

  display: flex;
  align-items: center;
  padding: 0 4rem;

  z-index: 1;

  transition: background 0.6s;
}

.name{
  color: transparent;
  font-size: 2.8rem;
  font-weight: 600;
  font-family: 'Dancing Script';
  padding: 0 0.6rem;

  background: linear-gradient(45deg, #f9f9f9, #FF9517);
  background-clip: text;
  -webkit-background-clip: text;

}

.nav{
  height: 100%;
  display: flex;
  align-items: center;

  margin-left: 30%;

  a{
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: relative;
    
    transition: color 0.2s;

    &:hover{
      color: #FF9517;
    }
  }

  a + a{
    margin-left: 2rem;
  }

}

.activeLink::after{
  content: '';
  position: absolute;
  bottom: 0;
  height: 0.25rem;
  width: 100%;
  border-radius: 0.3rem 0.3rem 0 0;
  background: #FF9517;
}