@import '../../styles/variables';

.headerContainer{
  width: 100vw;
  max-width: 1440px;
  height: 12.5vh;

  background: $bgHeader;
  
  position: sticky;
  top: 0;

  display: flex;
  align-items: center;
  padding: 0 4rem;

  z-index: 1;

  transition: background 0.6s;
}

.name{
  color: transparent;
  font-size: 2.8rem;
  font-weight: 600;
  font-family: 'Dancing Script';
  padding: 0 0.6rem;

  background: linear-gradient(45deg, #f9f9f9, $theme);
  background-clip: text;
  -webkit-background-clip: text;

}

.hamburgerContainer{
  background: transparent;
  border: 0;
  position: relative;
  margin-right: auto;
  transition: opacity 0.4s;
  display: none;
  visibility: hidden;

  &:hover{ opacity: 0.7; }

  .hamburger{
    width: 2.8rem;
    height: 0.3rem;
    border-radius: 0.1rem;
    display: block;
    background: $text;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

    &::before, &::after{
      content: "";
      position: absolute;
      width: 2.8rem;
      height: 0.3rem;
      border-radius: 0.1rem;
      display: block;
      background: $text;
    }

    &::before{ 
      top: -0.6rem; 
      transition: top 0.2s 0.12s ease, opacity 0.2s ease;
    }

    &::after{ 
      bottom: -0.6rem; 
      transition: bottom 0.2s 0.12s ease, transform 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
  }
}

.hamburgerContainer.isOpened{
  .hamburger{
    transform: rotate(45deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  
    &::before{
      top: 0;
      opacity: 0;
      transition: top 0.2s ease, opacity 0.2s 0.12s ease;
    }

    &::after{
      bottom: 0;
      transform: rotate(-90deg);
      transition: bottom 0.2s ease, transform 0.2s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); 
    }
  }
} 

@media(max-width: 768px){
  .headerContainer{
    padding: 0 1.4rem;
  }

  .name{
    white-space: nowrap;
  }

  .webNav{
    visibility: hidden;
    display: none;
  }

  .hamburgerContainer{
    display: initial;
    visibility: visible;
  }
}