.container{
  display: flex;
  flex-direction: column;
}

.topContainer{
  display: flex;
}

.description{
  width: 60%;
  
  div{
    line-height: 1.8rem;
  }

  div + div{
    margin-top: 2rem;
  }

  p + p{ margin-top: 0.2rem; }
}

.webAvatarContainer{
  position: sticky;
  top: calc(50% - 25vh + 7.5vh);
  height: 50vh;
  flex: 1;

  .avatar{
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
    margin: auto;
  }
}

.mobileAvatarContainer{
  width: calc(100vw - 4rem);
  padding: 1.6rem;
  
  position: relative;

  display: none;
  visibility: hidden;

  .avatar{
    border-radius: 50%;
    width: 12rem;
    height: 12rem;
    overflow: hidden;
    margin: 0 auto;
  }
}

.videoContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  padding: 1rem 0;

  border-top: 0.2rem solid var(--bgHeader);

  h2{
    font-size: 4.4rem;
    margin-bottom: 1rem;
    font-family: 'Kranky';
    color: transparent;
    background: linear-gradient(45deg, var(--logo), var(--theme));
    background-clip: text;
    -webkit-background-clip: text;
  }
  
  div{
    height: 50vh;
    width: 60vw;
    border-radius: 1.6rem;
    background: var(--bgHeader);
    display: flex;

    span{
      display: block;
      margin: auto;
      font-size: 1.6rem;
    }
  }
}

@media(max-width: 768px){
  .topContainer{
    flex-direction: column;
  }
  
  .description{
    width: 100%;
    margin-top: 2rem;
  }

  .webAvatarContainer{
    display: none;
    visibility: hidden;
  }

  .mobileAvatarContainer{
    display: initial;
    visibility: visible;
  }

  .videoContainer{
    h2{
      line-height: 4.4rem;
      font-size: 3.2rem;
      text-align: center;
    }
    div{
      width: 80vw;
      span{
        text-align: center;
      }
    }
  }
}

@media(min-width: 1580px){
  .webAvatarContainer{
    .avatar{
      width: 24rem;
      height: 24rem;
      margin-right: 0;
    }
  }

  .container{
    flex-direction: column;
    padding: 1rem 2rem;
  }
}

