@import '../../styles/variables';

.footerContainer{
  width: 100vw;
  max-width: 1880px;
  height: 8vh;
  max-height: 80px;
  padding: 0.6rem;

  display: flex;
  justify-content: center;
  align-items: center;
  background: $bgHeader;
}

.footerText{
  color: $text;
  font-size: 0.9rem;
}

@media(min-width: 1580px){
  .footerContainer{
    margin-top: auto;
  }
}