.footerContainer{
  width: 100vw;
  max-width: 2000px;
  height: 8vh;
  max-height: 80px;
  padding: 0.6rem;

  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bgHeader);
}

.footerText{
  color: var(--text);
  font-size: 1rem;
  text-align: center;
}

@media(min-width: 1580px){
  .footerContainer{
    margin-top: auto;
  }
}